/* 기본 CSS */
#wrap {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
	box-sizing: border-box;
}

#wrap section {
	box-sizing: border-box;
}

.header {
	display: flex;
	flex-direction: column;
	order: 1;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
}

.header h1 {
	width: 100%;
	padding: 100px 30px 30px 30px;
	text-align: center;
	font-size: 30px;
	box-sizing: border-box;
}

.header h3 {
	width: 100%;
	text-align: center;
	font-size: 14px;
	box-sizing: border-box;
}

.sign_section {
	display: flex;
	justify-content: center;
	width: 100%;
	order: 2;
	padding: 30px;
	box-sizing: border-box;
}

div.signup>h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

div.signup>div.text {
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 4px;
}

.signup {
	border: 1px solid #1289dd;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	width: 400px;
}

input::placeholder {
	color: #a7a7a7;
}

.input_text {
	border: 1px solid #a6a6a6;
	border-radius: 5px;
	font-size: 14px;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.signbtn {
	width: 100%;
	background: #1289dd;
	color: white;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}

/* 태블릿용 CSS */
@media all and (min-width: 768px) {
	.header h1 {
		font-size: 50px;
	}
	.header h3 {
		font-size: 30px;
	}
	div.signup>h2 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	div.signup>div.text {
		font-size: 20px;
		margin-top: 14px;
		margin-bottom: 3px;
	}
	.input_text {
		font-size: 18px;
		width: 300px;
	}
	.signbtn {
		font-size: 20px;
	}
}

/* PC용 CSS */
@media all and (min-width: 1200px) {
	#wrap {
		position: relative;
		width: 50%;
	}
	.header h1 {
		width: 100%;
		padding: 150px 30px 30px 30px;
		text-align: center;
		font-size: 60px;
	}
	.header h3 {
		width: 100%;
		text-align: center;
		font-size: 28px;
	}
	.sign_section {
		padding: 80px;
	}
	.signup {
		padding: 40px;
	}
}