/* 모바일용 CSS */
/* 기본 CSS */
#wrap {
	display: flex;
	flex-flow: column nowrap;
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
}

#wrap section {
	box-sizing: border-box;
}

.header {
	display: flex;
	flex-direction: column;
	order: 1;
	width: 100%;
	align-items: center;
}

.header h1 {
	width: 100%;
	padding: 100px 30px 30px 30px;
	text-align: center;
	font-size: 30px;
}

.header h3 {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.login_section {
	display: flex;
	order: 2;
	padding-top: 80px;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.login_section div {
	display: block;
	border: 1px solid #a7a7a7;
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	font-weight: bold;
	font-size: 14px;
}

.login_section input {
	float: right;
	border: none;
	font-size: 15px;
	margin-left: 10px;
	width: 180px;
	outline: none;
}

input::placeholder {
	color: #a7a7a7;
	font-style: italic;
}

.btnsection {
	display: flex;
	order: 3;
	width: 100%;
	padding: 10px;
	align-items: center;
	justify-content: center;
}

.btn_login {
	width: 100%;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
	outline: none;
}

form button {
	background-color: rgba(0, 147, 245, 0.5);
}

form button.active {
	background-color: rgba(0, 147, 245);
}

.login_section_1 {
	display: flex;
	order: 4;
	padding: 5px;
	width: 100%;
	order: 4;
	align-items: center;
	justify-content: center;
}

.login_section_1 div {
	text-align: center;
	border: 1px solid #a7a7a7;
	border-radius: 5px;
	padding: 10px;
	font-size: 12px;
}

.changepw_div {
	float: left;
	margin-right: 15px;
}

.signup_div {
	float: left;
}

/* 태블릿용 CSS */
@media all and (min-width:768px) {
	.header h1 {
		font-size: 50px;
	}
	.header h3 {
		font-size: 30px;
	}
	.btn_login {
		width: 260px;
	}
}

/* PC용 CSS */
@media all and (min-width:1200px) {
	/* 기본 CSS */
	#wrap {
		position: relative;
		width: 50%;
	}
	.header h1 {
		width: 100%;
		padding: 150px 30px 30px 30px;
		text-align: center;
		font-size: 60px;
	}
	.header h3 {
		width: 100%;
		text-align: center;
		font-size: 28px;
	}
	.btnsection {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.btn_login {
		display: flex;
		width: 260px;
		justify-content: center;
	}
	.login_section_1 {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
}