<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>강남대학교 중고장터 내 정보</title>
<link rel="stylesheet" type="text/css" href="/CSS/reset.css?v=1.0">
<link rel="stylesheet" type="text/css" href="/CSS/Board.css?v=1.0">
<link rel="shortcut icon" href="/images/favicon/favicon.ico">
<script src="https://kit.fontawesome.com/e1bd1cb2a5.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
	<div id="wrap">
		<div th:if="${userID == null}">
			<section class="info_section">
				<ul class="info_list">
					<li><a href="/main"><img
							src="/images/s_images/free-icon-font-bell-3917226.png"
							style="width: 30px; height: auto;" alt="">메인홈</a></li>
					<li><a href="/login"><img
							src="/images/s_images/free-icon-font-id-badge-3914510.png"
							style="width: 30px; height: auto;" alt="">내정보</a></li>
					<li><a href="/login"><img
							src="/images/s_images/free-icon-font-comments-5074600.png"
							style="width: 30px; height: auto;" alt="">로그인</a></li>
				</ul>
			</section>
			<header class="header">
				<h1 class="logo">
					<a href="/main"><img src="/images/s_images/마크.png"
						style="width: 98px; height: auto;" alt=""> <span id="logo_1">강남대학교</span>
						중고장터</a>
				</h1>
			</header>
			<section class="sign_section">
				<div class="signup">
					<h2>로그인 후 이용가능 합니다.</h2>
					<div>
						<input type="button" class="loginbtn" value="로그인"
							onclick="location.href='/login'" />
					</div>
					<div>
						<input type="button" class="loginbtn" value="회원가입"
							onclick="location.href='/signup'" />
					</div>
				</div>
			</section>
		</div>

		<div th:if="${userID != null}">
			<section class="info_section">
				<ul class="info_list">
					<li><a href="/jjimBbs"><img
							src="/images/s_images/free-icon-font-bell-3917226.png"
							style="width: 30px; height: auto;" alt="">찜목록</a></li>
					<li><a href="/mypage"><img
							src="/images/s_images/free-icon-font-id-badge-3914510.png"
							style="width: 30px; height: auto;" alt="">내정보</a></li>
					<li><a href="/logout"><img
							src="/images/s_images/free-icon-font-comments-5074600.png"
							style="width: 30px; height: auto;" alt="">로그아웃</a></li>
				</ul>
			</section>

			<header class="header">
				<h1 class="logo">
					<a href="/main"><img src="/images/s_images/마크.png"
						style="width: 98px; height: auto;" alt=""> <span id="logo_1">강남대학교</span>
						중고장터</a>
				</h1>
			</header>

			<section class="board_section">
				<form method="post" action="/mypage/write">
					<div class="category_div">
						<input type="text" placeholder="제목을 입력해 주세요." class="title"
							id="bbs_title" name="bbsTitle" maxlength="50">
					</div>
					<input type="file" name="fileName" class="folder_images">
					<div class="category_div">
						<input type="number" name="cost" class="title"
							placeholder="가격을 입력해 주세요." maxlength="50">
					</div>
					<div class="article_content">
						<textarea placeholder="글을 작성해 주세요." class="title" id="bbs_content"
							name="bbsContent" maxlength="2048"></textarea>
					</div>
					<div class="btn_div">
						<button type="submit" class="board_btn" id="btn_board" disabled>글
							작성</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</body>
</html>
