<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>비밀번호 변경</title>
<!-- 수정된 CSS 경로 -->
<link rel="stylesheet" th:href="@{/css/ChangePW_1.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<script th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript">
	function validate() {
		var newPW = document.getElementById("new_pw");
		var newPWCK = document.getElementById("new_pwck");

		var regul1 = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+={}\[\]:;"'<>,.?/\\|-]).{8,20}$/;

		if (newPW.value.trim() === "" || newPWCK.value.trim() === "") {
			alert("빈칸을 입력해 주세요");
			return false;
		}
		if (!regul1.test(newPW.value)) {
			alert("비밀번호는 영문, 숫자, 특수문자 2종류 이상 조합된 8~20자로 입력해 주세요.");
			newPW.value = "";
			newPW.focus();
			return false;
		}
		if (newPW.value !== newPWCK.value) {
			alert("새로운 비밀번호가 일치하지 않습니다.");
			return false;
		}
		return true;
	}
</script>
</head>
<body>
	<form th:action="@@{/user/changePassword}" method="post"
		onsubmit="return validate()">
		<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
		<div id="wrap">
			<header class="header">
				<h1>
					<a th:href="@{/main}">Kangnam University</a>
				</h1>
				<div>
					<h3>
						<a th:href="@{/main}">중고장터</a>
					</h3>
				</div>
			</header>

			<section class="sign_section">
				<div class="signup">
					<h2>비밀번호 변경</h2>
					<input type="hidden" name="userID" th:value="${userID}">
					<div class="text">
						새 비밀번호&nbsp;&nbsp;<span style="font-size: 10px;">영문, 숫자,
							특문이 2종류 이상 조합된 8~20자</span>
					</div>
					<div>
						<input type="password" id="new_pw" name="newPw"
							placeholder="새 비밀번호" class="input_text" required />
					</div>
					<div>
						<input type="password" id="new_pwck" name="newPwCheck"
							placeholder="새 비밀번호 확인" class="input_text" required />
					</div>

					<input type="submit" id="btnChangePw" class="signbtn"
						value="비밀번호 변경" />
				</div>
			</section>
		</div>
	</form>
</body>
</html>
